{{!
Copyright (C) Amaiza LLC. - All Rights Reserved

This source code is proprietary and confidential and protected under
international copyright law. All rights reserved and protected by
the copyright holders. This file is only available to authorized individuals
with the permission of the copyright holders. Unauthorized copying of this file,
via any medium is strictly prohibited. If you encounter this file and do not have
permission, please contact the copyright holders and delete this file.
}}

{{#if loading}}
  <div class='block-footer'>
    {{str 'LBL_LOADING' 'JobQueue'}}
  </div>
{{else}}
  <select name='scheduler_id' class='select2'>
    {{#each kickoffChoices}}
      <option value='{{id}}'>
        {{name}}
      </option>
    {{/each}}
  </select>

  <button data-action='submit-kickoff' class='btn btn-primary'>
    {{str 'LBL_SUBMIT' 'JobQueue'}}
  </button>
{{/if}}